@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.dark h1 {
    font-size: 3rem;
    font-weight: 900;
    color: #F9FAF8;
}

.light h2 {
    color: #1F2937;
}

h2 {
    font-size: 2.25rem;
    font-weight: 900;
}

* {
    margin: 0;
    font-family: "Roboto";
    box-sizing: border-box;
    min-width: 0;
}

.light * {
    color: #1F2937;
}

.dark * {
    color: #E5E7EB;
}

.dark {
    background-color: #1F2937;
}

.grey {
    background-color: #E5E7EB;
}

.light {
    background-color: #F9FAF8;
}

.all {
    padding: 1rem 3rem;
    max-width: 70rem;
}

.section {
    display: grid;
    justify-content: center;
}

.hero-content {
    display: flex;
    gap: 3rem;
    padding: 6rem 0rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    flex-shrink: 2;
    gap: .5rem;
}

.hero-text * {
    flex-grow: 1;
}

.button {
    padding: .5rem 2rem;
    background-color: #3882F6;
    border-radius: .5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    flex-grow: 0;
    max-width: fit-content;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
    color: #E5E7EB;
    display: inline-block;
    height: min-content;
    flex-shrink: 0;
}

.button:hover, .button:focus {
    transform: scale(1.1);
    color: #3882F6;
    background-color: #E5E7EB;
}

nav {
    display: flex;
    padding: 1rem 0rem;
    justify-content:space-between;
    align-items: center;
}

nav a {
    text-decoration: none;
    text-underline-offset: .1rem;
    transition: transform 0.3s, color 0.3s, text-decoration 0.3s, text-underline-offset 0.3s;
    display: inline-block;
}

nav a:hover, nav a:focus {
    color: #7dabf6;
}

nav .logo:hover, nav .logo:focus {
    transform: scale(1.1);
}

nav ul a:hover, nav ul a:focus {
    transform: translateY(-2px);
    text-decoration: underline;
    text-underline-offset: .3rem;
}

.nav-links {
    justify-self: end;
    list-style: none;
    display: flex;
    gap: 2rem;
}

.logo {
    font-size: 1.5rem;
    color: #F9FAF8;
    font-weight: 800;
}

img {
    flex-basis: 521px;
    object-fit: cover;
    flex-shrink: 1;
}

.quote {
    color: #1F2937;
    font-size: 2.25rem;
    font-weight: 300;
    font-style: italic;
    margin-bottom: .5rem;
}

.small-header {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: normal;
}

.quote.all {
    max-width: 55rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.quote-tag {
    text-align: right;
}

.c2a.all {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.c2a-block {
    background-color: #3882F6;
    max-width: 50rem;
    display: flex;
    padding: 3rem 6rem;
    align-items: center;
    box-sizing: content-box;
    justify-content: space-between;
    border-radius: .5rem;
    gap: 2rem;
}

.c2a-block * {
    color:#F9FAF8;
}

.c2a-block div {
    flex-grow: 1;
    width: 100vw;
}

.c2a-block .button {
    border: 2px solid #F9FAF8;
}

.footer .all {
    padding: 2rem 2rem;
}

.gallery.all {
    padding: 3rem;
    display: grid;
    justify-items: center;
    text-align: center;
    gap: 3rem;
}

.gallery-item img {
    border: solid #3882F6 4px;
    border-radius: .7rem;
    flex-basis: 150px;
}

.gallery-item div {
    width: min-content;
}

.gallery-list {
    list-style: none;
    display: grid;
    padding-left: 0;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
    width: calc(100vw - 6rem);
    max-width: 55rem;
}